header{
  font-family:"MS Pゴシック",sans-serif;    
  }
    .tabs {
      margin-top: 50px;
      padding-bottom: 40px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 480px;
      margin: 0 auto;}
    .tab_item {
      width: calc(100%/3);
      height: 50px;
      border-bottom: 3px solid #2ea8e6;
      background-color: #d9d9d9;
      line-height: 50px;
      font-size: 16px;
      text-align: center;
      color: #565656;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      transition: all 0.2s ease;
    }
    .tab_item:hover {
      opacity: 0.75;
    }
    input[name="tab_item"] {
      display: none;
    }
    .tab_content {
      display: none;
      padding: 40px 40px 0;
      clear: both;
      overflow: hidden;
    }
    #all:checked ~ #all_content,
  #programming:checked ~ #programming_content,
  #design:checked ~ #design_content {
    display: block;
  }
  .tabs input:checked + .tab_item {
      background-color: #2ea8e6;
      color: #fff;
    }
    main{
      margin-top: 50px;
      padding-bottom: 40px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 480px;
      margin: 0 auto;}
      html {
          scroll-behavior: smooth;
        }
  .before{
      padding: 10px;
      border: 1px solid #333;
      text-align: center;
  }
  footer{
      background-color: #565656;
      a{
      font-size: 20px;
        color: #e09191;
        display: flex;
        margin-right: 15px;
        justify-content: flex-end;
      }
      p{
          font-size: 20px;
          color: #b4b4b4;
          display: flex;
          margin-right: 15px;
          justify-content: flex-end;
      }
  
  header{flex-grow: 0;
      background-color: #992121;
      h1{
      font-size: 30px;
        color: #ffffff;
        display: flex;
        margin-left: 5px;
        justify-content: flex-start;
      }
      p{
          font-size: 20px;
            color: #ffffff;
            display: flex;
            margin-left: 10px;
            justify-content: flex-start;
          }
   
  
  
  }
  }
  